@keyframes shake {
  0%,
  20% {
    transform: rotate(-0.6deg);
  }
  40%,
  60% {
    transform: rotate(0.6deg);
  }
  80%,
  100% {
    transform: rotate(-0.6deg);
  }
}

.shake-text:hover {
  animation: shake 0.4s steps(1) infinite;
}
