.Capital {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.capital-guess {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

@media (orientation: landscape) {
  .Capital {
    display: flex;
  }
  .capital-guess {
    width: 100%;
    flex-shrink: 0;
  }
}

.capital-inset {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.capital-answers-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
}

.capital-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.capital-input {
  padding: 1rem;
  padding-right: 3.5rem;
  font-family: var(--content-font);

  font-size: var(--small);
  border: none;
  outline: none;
}

.capital-element {
  padding: 1rem;
  font-size: var(--small);
  & p {
    margin: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--pop);
  }
}

.capital-name {
  color: var(--light);
  font-weight: 400;
  font-size: var(--medium);
  text-align: center;
  margin: 0;
  margin-top: -20rem;
}

.capital-capital {
  position: absolute;
  top: 40%;
  color: var(--dark);
  font-size: var(--large);
  text-align: center;
}

.capital-button {
  position: absolute;
  background-color: white;
  margin: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  right: 0;
  transition: background-color 0.1s ease-in-out;

  & .sent {
    color: var(--pop);
  }

  &:hover {
    background-color: var(--pop);
  }
}

.capital-button:hover > * {
  color: var(--light);
}

.capital-suggestions {
  all: unset;
}
