.Flag {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.flag-guess {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

@media (orientation: landscape) {
  .Flag {
    display: flex;
  }
  .flag-guess {
    width: 100%;
    flex-shrink: 0;
  }
}

.flag-inset {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flag-question {
  color: var(--light);
  font-weight: 400;
  font-size: var(--medium);
  text-align: center;
  margin: 0;
  margin-top: -20rem;
}
