.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
}

.description {
  width: clamp(300px, 50%, 450px);
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: var(--smaller);
}

@media (orientation: landscape) {
  .Home {
    height: 100vh;
    margin-top: -5rem;
    justify-content: center;
  }
}
.title {
  font-family: var(--title-font);
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--black);
  text-decoration: none;
}

.games {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  & button {
    all: unset;
  }

  & > * {
    text-decoration: none;
    margin: 0.5rem;
  }

  & .game {
    background-color: white;
    text-align: center;
    padding: clamp(1.5rem, 2vw, 2rem) clamp(3rem, 5vw, 5rem);
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    border-radius: 2rem;
    color: var(--black);
    outline: var(--black) solid 1px;
    transition: all 0.1s ease-in-out;
  }

  & .game:hover {
    background-color: var(--dark);
  }
}

.advisory {
  display: flex;
  justify-content: center;
  gap: 1rem;

  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
}
