.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  /* background-color: var(--black); */
}

.description {
  width: clamp(300px, 50%, 450px);
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 3rem;
  font-size: var(--smaller);
}

@media (orientation: landscape) {
  .Home {
    height: 100vh;
    margin-top: -5rem;
    justify-content: center;
  }
}

.geo {
  font-family: var(--title-font);
  font-size: clamp(2rem, 5vw, 10rem);
  color: var(--black);
}

.advisory {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;

  text-align: center;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--pop);
}
