.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
  /* background-color: var(--black); */
}

@media (orientation: landscape) {
  .Home {
    height: 100vh;
    margin-top: -5rem;
    justify-content: center;
  }
}

.title {
  font-family: var(--title-font);
  font-size: clamp(4rem, 5vw, 10rem);
  color: var(--black);
}

.description {
  width: clamp(300px, 50%, 450px);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: clamp(1rem, 1vw, 2rem);
}

.play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto 0;
}

.play {
  font-size: clamp(4rem, 5vw, 5rem);
  color: var(--pop);
  cursor: pointer;
}

.play-icon-wrapper {
  width: clamp(4rem, 5vw, 5rem);
}

.play-icon {
  color: var(--pop);
  width: 100%;
  height: 100%;
}

.advisory {
  width: 80%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 1rem);
  text-align: center;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--pop);
}

.copyright,
.version {
  text-wrap: nowrap;
}
