.Population {
  display: relative;
  color: var(--white);
}

.population-slider {
  height: 100vh;
  overflow: hidden;
}

.population-choices {
  height: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

@media (orientation: landscape) {
  .population-slider {
    width: 100vw;
    display: flex;
  }

  .population-choices {
    width: 50%;
    height: 100%;
    flex-shrink: 0;
  }
}

.population-inset {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.population-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.population-buttons button {
  all: unset;
  padding: 1rem 3rem;
  background-color: transparent;
  border: solid 1px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.population-buttons button > * {
  color: var(--light);
  fill: var(--light);
}

.population-buttons button:hover {
  border: solid 1px var(--pop);
  background-color: var(--pop);
}

.population-country-name {
  font-size: var(--small);
  transition: transform 0.3s ease;
}

.population-country-population {
  color: var(--dark);
  font-size: var(--medium);
}
