@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --title-font: "Raleway", sans-serif;
  --content-font: "Montserrat", sans-serif;
  --black: #0f0f0f;
  --white: #f0f0f0;
  --light: #f5f5dc;
  --dark: #f5deb3;
  --pop: #e1a95f;
  --green: #69c769;
  --red: #e46a4a;

  /* Font Sizes  */
  --smaller: 1rem;
  --small: 1.5rem;
  --medium: 2.5rem;
  --large: 3rem;
  --larger: 3.5rem;
}

body {
  background-color: var(--light);
  font-family: var(--content-font);
  color: var(--black);
  margin: 0;
}
