@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --title-font: "Raleway", sans-serif;
  --content-font: "Montserrat", sans-serif;
  --black: #0f0f0f;
  --white: #f0f0f0;
  --light: #f5f5dc;
  --dark: #f5deb3;
  --pop: #e1a95f;
  --green: #69c769;
  --red: #e46a4a;

  /* Font Sizes  */
  --smaller: 1rem;
  --small: 1.5rem;
  --medium: 2.5rem;
  --large: 3rem;
  --larger: 3.5rem;

  --default-backdrop: url("./assets/default-backdrop.jpg");
  --capital-backdrop: url("./assets/capital-backdrop.jpg");
  --flag-backdrop: url("./assets/flags-backdrop.jpg");
  --population-backdrop: url("./assets/population-backdrop.jpg");
}

body {
  background-color: var(--light);
  font-family: var(--content-font);
  color: var(--black);
  height: 100%;
  margin: 0;
}

body::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden; /* invisible but still loaded */
  background-image: url("./assets/default-backdrop.jpg"),
    url("./assets/capital-backdrop.jpg"), url("./assets/flags-backdrop.jpg"),
    url("./assets/population-backdrop.jpg");
}
